/* Fil rouge : selecteur, dimensions, couleurs */
/* Texte */
/* Background */
/* Boxes */
/* Positioning */
/* Flex */
/* Grid */
/* Pseudo classe */
/* Debug */
/* Responsive */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@font-face {
    font-family: 'font-1';
    src: url(./assets/NotoSans-Medium.ttf);
}

body {
    font-family: 'font-1', serif;
    background-color: moccasin;
    background:url(./assets/bg.png) no-repeat fixed left/cover;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem; /* 1rem = 16px */
    color: rgb(204,204,255);
    text-shadow: 5px 3px 0px #85dadaa6;
    text-align: center;
    font-family: "Playfair Display", serif;
}

main {
    background-color: rgba(245, 245, 245, 0.90);
    width: 85%;
    min-height: 500px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.363);
}

.positioning,
.flexbox
.grid {
    border: 2px solid skyblue;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

/*********************** Positionning ***********************/
.positioning {
    position: relative;
}

h2 {
    margin: 0;
}

#circle {
    height: 60px;
    width: 60px;
    background: skyblue;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: 110px;
    box-shadow: 0 2px 12px 5px rgba(51, 51, 51, 0.363);
    z-index: 2;
}

#rectangle {
    height: 15px;
    width: 100px;
    background: slateblue;
    padding: 20px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

/************************** Flexbox ************************/
ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
li {
    list-style-type: none;
    font-size: 0.7rem;
    height: 160px;
    width: 160px;
    background: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
}

/************************ Grid ****************************/
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
}

.img {
    text-align: center;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'i1 i2'
        'ta ta'
        'bt bt';
}
input,
textarea {
    margin: 5px;
    height: 45px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "font-1";
}
#firstname {
    grid-area: i1;
}
#surname {
    grid-area: i2;
}
textarea {
    grid-area: ta;
    resize: none;
}
input[type="submit"] {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
}
input[type="submit"]:hover {
    background: darkblue;
    color: white;
}
/***************************** Responsive *******************************/
@media screen and (max-width: 1000px) {
    .grid-container {
        display: block;
    }
}
@media screen and (max-width: 780px) {
    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'i1'
            'i2'
            'ta'
            'bt';
    }
}
/******************************* Debug **********************************/
/* * {
    border: 2px red solid;
} */